@model cuoiki.Models.Footer

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}


<div>
    <h4>Footer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Thời gian mở
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOpen)
        </dd>

        <dt>
            Giới thiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intro)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

        <dt>
            Ẩn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idFooter }) |
    @Html.ActionLink("Back to List", "Index")
</p>

