@model cuoiki.Models.TypeFood

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Loại thức ăn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Meta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.idTypeFood }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
