
@{
    ViewBag.Title = "Đơn đang chờ";
    Layout = "~/Areas/kitchen/Views/Shared/_MyLayout.cshtml";
}

@model IEnumerable<cuoiki.Models.Bill>

<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th style="width:10%">STT</th>
            <th style="width:10%">Bàn</th>
            <th style="width:10%">Tổng tiền</th>
            <th style="width:10%">Đặt lúc</th>
            <th style="width:10%">Thao tác</th>
        </tr>
    </thead>
    @{var num = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(num++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.TenBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeBegin)
            </td>
            <td>
                <a href="@Url.Action("detailOrder", "Default", new { id = item.idBill})">Chi tiết</a> |
                <a href="" id="@item.idBill" onclick="finish(id)">Hoành thành</a>
            </td>
        </tr>
    }

</table>
<script>
    function finish(id) {
        $.ajax({
            url: '/Kitchen/Default/finish',
            type: 'post',
            data: {
                id: id
            },
            success: function (data) {
                if (data.code == 1) {
                    location.reload()
                } else {
                    alert(data.msg)
                }
            }
        });
    }
</script>


