<table id="shoppingCart" class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th style="width:60%">Món ăn</th>
            <th style="width:12%">Giá</th>
            <th style="width:10%">Số lượng</th>
            <th style="width:16%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ViewBag.list)
        {
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-md-3 text-left">
                            <img src="~/Uploads/images/@i[0]/@i[5]" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                        </div>
                        <div class="col-md-9 text-left mt-sm-2">
                            <h4>@i[1]</h4>
                        </div>
                    </div>
                </td>
                <td data-th="Price">@i[2] đ</td>
                <td data-th="Quantity">
                    <input type="number" class="form-control form-control-lg text-center quantity" value="@i[4]" id="@i[6]">
                </td>
                <td class="actions" data-th="">
                    <div class="text-right">
                        <button onclick="del(id)" id="@i[6]" class="btn btn-white border-secondary bg-white btn-md mb-2">
                            Xoá
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="float-right text-right">
    <h4>Tổng cộng</h4>
    <h1>@ViewBag.m đ</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script>
    function del(id){
        $.ajax({
            url: '/Cart/del',
            type: 'post',
            data: {
                idfood: id
            },
            success: function (data) {
                if (data.code == 1) {
                    location.reload()
                } else {
                    alert(data.msg)
                }
            }
        });
    }
    $(".quantity").change(function () {
        let soluong = $(this).val();
        let id = $(this).attr('id');
        $.ajax({
            url: '/Cart/updateQuantity',
            type: 'post',
            data: {
                idfood: id,
                soluong: soluong
            },
            success: function (data) {
                if (data.code == 1) {
                    location.reload()
                } else {
                    alert(data.msg)
                }
            }
        });
    });
</script>