@model cuoiki.Models.About

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}
<style>
    img {
        width: 150px;
        height: 150px;
    }
</style>
<h2>Details</h2>

<div>
    <h4>About</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.Raw(Model.content)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="~/Uploads/images/about/@Model.img" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
        </dd>

        <dt>
            Ẩn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
