@model cuoiki.Models.Food

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại thức ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeFood.name)
        </dd>

        <dt>
            Tên món
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @string.Format("{0:#,0}", Model.price)đ
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.Raw(Model.description)
        </dd>

        <dt>
            Meta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            Ẩn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="~/Uploads/images/@Model.TypeFood.meta/@Model.img" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
<style>
    img {
        width: 150px;
        height: 150px;
    }
</style>
