@model cuoiki.Models.Food

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}
<style>
    #img{
        width:320px;
        height:200px;
    }
</style>
<h2>Món ăn</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại thức ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeFood.name)
        </dd>

        <dt>
            Tên món ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @string.Format("{0:#,0}", Model.price)đ
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.Raw(Model.description)
        </dd>

        <dt>
            Meta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            Ẩn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="~/Uploads/images/@Model.TypeFood.meta/@Model.img" class="img-fluid d-none d-md-block rounded mb-2 shadow " id="img">
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.idFood }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
