@model IEnumerable<cuoiki.Models.SlidesShow>
@foreach (var i in Model)
{
    if (@i.order == 1)
    {
        <div class="carousel-item active">
            <div class="container ">
                <div class="row">
                    <div class="col-md-7 col-lg-6 ">
                        <div class="detail-box">
                            <h1>
                                @i.title
                            </h1>
                            <p>
                                @i.description
                            </p>
                            <div class="btn-box">
                                <a href="@i.link" class="btn1">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="carousel-item">
            <div class="container ">
                <div class="row">
                    <div class="col-md-7 col-lg-6 ">
                        <div class="detail-box">
                            <h1>
                                @i.title
                            </h1>
                            <p>
                                @i.description
                            </p>
                            <div class="btn-box">
                                <a href="@i.link" class="btn1">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}
