
@{
    ViewBag.Title = "index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Welcome to Menu</h2>


<style>

    td {
        text-align: center;
    }
</style>

<body>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thread>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Link</th>
                                    <th>Meta</th>
                                </tr>
                            </thread>
                            <tbody>
                                @foreach (var i in ViewBag.list)
                                {
                                    <tr>
                                        <td>
                                            @i[0]
                                        </td>
                                        <td>
                                            @i[1]
                                        </td>
                                        <td>
                                            @i[2]
                                        </td>
                                        <td>
                                            @i[3]
                                        </td>
                                        <td>
                                            @i[4]
                                        </td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>




